.main{
    background-image:url(image-hero.jpg);
    width:100%;
    height:650px;
}
.container{
    width:90%;
}
.sub-section{
    display:flex;
}
.div{
    width:300px;
    border:2px solid white;
}